<h2>Events</h2>

<div class="pagination">
<a href="<%= previous_url %>">Previous</a> | <a href="<%= url("v1/events") %>">Events</a> | <a href="<%= next_url %>">Next</a>
</div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Transaction</th>
      <th>Creation Date (UTC)</th>
      <th>Delivery Data (UTC)</th>
      <th>Response Status</th>
    </tr>
  </thead>
  <tbody>
  <% Array(events).each do |event| %>

    <tr>
      <td><a href="<%= event['_uri'] %>"><%= event['id'] %></a></td>
      <td><%= event['type'] %></td>
      <td><a href="<%= event['transaction']['_uri'] %>"><%= event['transaction']['id'] %></a></td>
      <td><%=  %> </td>
      <td><%= event['creation_date_time_utc'] %></td>
      <td><%= event['delivery_date_time_utc'] %></td>
      <td><%= event['response_status'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<a href="<%= url("/") %>">Back</a> | <a href="<%= url("/v1/new_transaction") %>">New Transaction</a>

<code class="javascript">
<%= result_body %>
</code>
