<h2>Cardspring browser</h2>

<a href="<%= url("v1/users") %>">Users</a> | <a href="<%= url("v1/events") %>">Events</a> | <a href="<%= url("v1/businesses") %>">Businesses</a>

<p><b>Name:</b> <%= publisher['name'] %></p>
<p><b>Callback URL:</b> <%= publisher['callback_url'] %></p>
<p><b>Redemption Contact:</b> <%= publisher['redemption_contact'] %></p>
<p><b>Reporting Email:</b> <%= publisher['reporting_email'] %></p>
<p><b>Support Email:</b> <%= publisher['support_email'] %></p>
<p><b>Operations Email:</b> <%= publisher['operations_email'] %></p>

<code class="javascript">
<%= result_body %>
</code>
