<!--
<%= result_body %>
-->
<h2>Users</h2>

<div class="pagination">
  <a href="<%= previous_url %>">Previous</a> | <a href="<%= users_path %>">Users</a> | <a href="<%= next_url %>">Next</a>
</div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Uri</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% Array(users).each do |user| %>
    <tr>
      <td><%= user['id'] %></td>
      <td><a href="<%= url(user['_uri']) %>"><%= h(user['_uri']) %></a></td>
      <td><form action="<%= url(user['_uri']) %>" method="post"><input type="hidden" name="_method" value="DELETE" /><input type="submit" value="Remove" /></form></td>
    </tr>
  <% end %>
  </tbody>
</table>

<a href="<%= url("/") %>">Back</a>
