<h2>User Details</h2>

<div>
  <a href="<%= url(user['_uri'] + "/apps") %>">Apps</a>
</div>

<p>Id: <%= user['id'] %></p>
<p>Uri: <a href="<%= url(user['_uri']) %>"><%= user['_uri'] %></a></p>

<a href="<%= url("/v1/credit_cards/new/#{user['id']}") %>">New Card </a> 
<% unless user['cards'].nil? %>
<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Last4</th>
      <th>Expiration</th>
      <th>Brand</th>
      <th>Brand_string</th>
      <th>Bank</th>
      <th>Country</th>
      <th>User_id</th>
      <th>Uri</th>
      <th>Capabilities</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% Array(user['cards']['items']).each do |card| %>
    <tr>
      <td><%= card['token'] %></td>
      <td><%= card['last4'] %></td>
      <td><%= card['expiration'] %></td>
      <td><%= card['brand'] %></td>
      <td><%= card['brand_string'] %></td>
      <td><%= card['bank'] %></td>
      <td><%= card['country'] %></td>
      <td><%= card['user_id'] %></td>
      <td><a href="<%= url(card['_uri']) %>"><%= h(card['_uri']) %></a></td>
      <td><%= Array(card['capabilities']).join(", ") %></td>
      <td><form action="<%= url(card['_uri']) %>" method="post"><input type="hidden" name="_method" value="DELETE" /><input type="submit" value="Remove" /></form></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<a href="<%= users_path %>">Back</a> | <form action="<%= url(user['_uri']) %>" method="post"><input type="hidden" name="_method" value="DELETE" /><input type="submit" value="Remove" /></form>

<code class="javascript">
<%= result_body %>
</code>
